{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Attendancemachineemployeeid</th>
                <th>Employeeid</th>
                <th>Employeename</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                <td>{{ employee.attendanceMachineEmployeeId }}</td>
                <td>{{ employee.employeeId }}</td>
                <td>{{ employee.employeeName }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.mobile }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.email }}</td>
                <td>{% if employee.createdAt %}{{ employee.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if employee.updatedAt %}{{ employee.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employee_show', { 'id': employee.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
